.banner
{
    background-color: rgb(17, 24, 46);
    padding: 50px;
}
h1
{
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    color: rgb(255, 255, 255); 
}
h2
{
    color: rgb(255, 255, 255);
    background-color: rgb(13, 44, 61);
    text-align: center;
    margin: auto;
    height:1050px;
    width: 1000px;
    border: 5px solid black;
    font: 16px/26px Sans-Serif;
    overflow: auto;
    border-radius: 10px;;
}